<body class = "bg-dark">
<h1 class="container-fluid p-5 bg-primary text-white text-center">Welcome to Daniel's Blog</h1>
<h2 class = "bg-warning text-white text-center">Read some of his articles here!</h2>

<ul class = "text-center">
  <% @articles.each do |article| %>
    <% unless article.archived? %>
      <li>
        <%= link_to article.title, article %>
      </li>
    <% end %>
  <% end %>
</ul>

<%= link_to "New Article", new_article_path %>

</body>